@import '../../global.scss';

.topbar {
    width: 100%;
    max-width: $maxWidth;
    height: 70px;
    background-color: $blueColor;
    color: $whiteColor;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;

    .wrapper {
        height: 70px;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-items: center;

        .left {
            display: flex;
            align-items: center;

            .iconHouse {
                font-size: 45px;
                text-decoration: none;
                color: $whiteColor;
                margin-right: 40px;
            }

            .itemContainer {
                display: flex;
                align-items: center;
                margin-left: 30px;

                @include mobile {
                    display: none;
                }

                .iconGitHub {
                    font-size: 25px;
                    margin-right: 5px;
                    color: $whiteColor
                }

                .iconMail {
                    font-size: 25px;
                    margin-right: 5px;
                }

                a, span {
                    font-size: 15px;
                    font-weight: 500;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    color: $whiteColor;
                }
            }
        }

        .right {

            .hamburger {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span {
                    width: 100%;
                    height: 3px;
                    background-color: $whiteColor;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
        }
    }

    &.active {
        background-color: $orangeColor;
        color: $whiteColor;

        .hamburger {
            span {
                &:first-child {
                    background-color: $whiteColor;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    background-color: $whiteColor;
                    opacity: 0;
                }
                &:last-child {
                    background-color: $whiteColor;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}